/* #light {
    background-color: white;
   
}
#dark {
 background-color: black;
 color: white;

}

#light .mainCard{
    background-color: white;
   
}

#dark .mainCard{
    background-color: dark;
    
}
#dark .text{
    color: white;
}

#light .text{
    color: black;
} */